In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d= {'a':10,'b':20,'c':30}

In [5]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [6]:
pd.Series(data=my_data,index = labels)

a    10
b    20
c    30
dtype: int64

In [7]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [8]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [9]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(d,labels)

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [12]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [13]:
ser1 = pd.Series([1,2,3,4],['w','h','a','t'])

In [14]:
ser1

w    1
h    2
a    3
t    4
dtype: int64

In [15]:
ser2 = pd.Series([1,2,5,4],['w','h','y','t'])

In [16]:
ser2

w    1
h    2
y    5
t    4
dtype: int64

In [17]:
ser1 + ser2

a    NaN
h    4.0
t    8.0
w    2.0
y    NaN
dtype: float64

In [18]:
ser1['a']

3

In [19]:
ser3 = pd.Series(labels)

In [20]:
ser3

0    a
1    b
2    c
dtype: object

In [21]:
ser3[0]

'a'

# Data Frames

In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

In [3]:
np.random.seed(101)

In [4]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [5]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [6]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [7]:
type(df['W'])

pandas.core.series.Series

In [8]:
type(df)

pandas.core.frame.DataFrame

In [11]:
df.W #not reccomendable

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [12]:
df[['W','Z']] #for multiple columns

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [15]:
df['new'] = df['W'] + df['Y'] #adding new col with arithematic of other cols

In [16]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [17]:
df.drop('new',axis=1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [18]:
df #even now the col is present after dropping

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [20]:
#so pandas requires inplace arguments to make the operation permanant
df.drop('new',axis=1,inplace=True)

In [21]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [22]:
df.drop('E',axis=0) #for dropping the cols

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [25]:
df.shape  
#we use 0 for rows and 1 for cols because data frame is bascically a numpy arrays with indexes so try using shape you will
#see no of cols and rows in tuple

(5, 4)

In [26]:
df.loc['A'] #to return row A

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [27]:
df.iloc[2] #to pass on index of the location

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [28]:
df.loc['B','Y'] #accessing an element

-0.84807698340363147

In [30]:
df.loc[['A','B'],['W','Y']] #list of cols and rows we want for subset

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

In [34]:
booldf = df > 0 #to know where the values are greater than zero

In [36]:
df[booldf] #conditional selection using data frame

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [37]:
df[df > 0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [38]:
df['W'] > 0

A     True
B     True
C    False
D     True
E     True
Name: W, dtype: bool

In [39]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [40]:
df[df['W'] > 0] # we wont get c because c fails the condition

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [41]:
df[df['Z']<0] #grab all the data where col z < 0

          W         X         Y         Z
C -2.018168  0.740122  0.528813 -0.589001

In [42]:
# we can grab subset of the result of selection formula
#get X of the data where W > 0

df[df['W']>0]['X']

A    0.628133
B   -0.319318
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [43]:
#grab x and y where w > 0
df[df['W']>0][['X','Y']]

          X         Y
A  0.628133  0.907969
B -0.319318 -0.848077
D -0.758872 -0.933237
E  1.978757  2.605967

In [48]:
# multiple conditions

#df[(df['W']>0) and (df['Y']<1)] will fail because python and operator can do operation on series of boolena values

df[(df['W']>0) & (df['Y']<1)] # only use & for and | for or

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057

In [51]:
df.reset_index() #setting the rows and cols names to index variable

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [52]:
newInd = 'CA NY AL MA NH'.split(' ')

In [53]:
newInd

['CA', 'NY', 'AL', 'MA', 'NH']

In [56]:
df['States'] = newInd #creating new col

In [57]:
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     AL
D  0.188695 -0.758872 -0.933237  0.955057     MA
E  0.190794  1.978757  2.605967  0.683509     NH

In [58]:
df.set_index('States') #if you want to set index to the column in data

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
AL     -2.018168  0.740122  0.528813 -0.589001
MA      0.188695 -0.758872 -0.933237  0.955057
NH      0.190794  1.978757  2.605967  0.683509

In [61]:
#multi index and data hirearchy

outside = 'G1 G1 G1 G2 G2 G2'.split(' ')
inside=[1,2,3,1,2,3]

In [66]:
hier_index = list(zip(outside,inside)) #just zipping to form tuples
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [67]:
hier_index = pd.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [68]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [69]:
df

             A         B
G1 1  0.302665  1.693723
   2 -1.706086 -1.159119
   3 -0.134841  0.390528
G2 1  0.166905  0.184502
   2  0.807706  0.072960
   3  0.638787  0.329646